.DS_Store
/.build
/Packages
xcuserdata/
/ComposableArchitecture.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Package.resolved
Carthage
/ComposableArchitectureTestSupport/TestStore.generated.swift
