.DS_Store
/.build
/Packages
xcuserdata/
/.swiftpm
/ComposableArchitecture.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Package.resolved
Carthage
/ComposableArchitectureTestSupport/TestStore.generated.swift
/carthage.sh
